{% extends 'base.html'%}

{% block content%}
    <h1 class="text-4xl font-bold text-center text-red-400">About Us Page</h1>

    <div class="my-8">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae orci tristique, condimentum quam sed, laoreet ex. Aenean ac arcu ac velit iaculis vestibulum sed at massa. Quisque at ligula a nisl condimentum fermentum a id eros. Nam condimentum libero et odio fermentum, sed euismod nulla mattis. Nam pharetra nunc leo, in feugiat nulla feugiat nec. Donec nec urna vel ex ultrices ultricies. Sed vestibulum augue a lacus volutpat pulvinar.</p>
    </div>

    <div class="my-8">
        <p>Nulla eu semper dolor. Morbi lacinia metus urna, vitae fermentum odio semper at. Nullam elementum purus et lacinia congue. Sed tincidunt, leo ut luctus tincidunt, leo tellus lobortis ipsum, sit amet ullamcorper metus neque eu ante. Fusce convallis eleifend augue id elementum. Donec sit amet urna sit amet tellus tempor dictum. Morbi posuere nisl nec lorem consectetur, id feugiat risus eleifend. Sed sagittis mi sed augue congue, sed tincidunt mauris viverra. Ut varius risus id ipsum gravida pellentesque. Nam vitae felis ultrices, tristique lorem eget, pellentesque lorem. Nullam euismod mauris risus, at eleifend nisi feugiat vitae. Maecenas dapibus interdum ligula, at efficitur mauris. Integer efficitur quam lectus, eget pharetra velit dignissim a.</p>
    </div>
{% endblock content%}
